@model List<OnlineShop.Models.CartItem>
<div class="top_nav_right">
    <div class="shoecart shoecart2 cart cart box_1">
        <div style="color:white">
            <br/>
            <br/>
            <span>Giỏ hàng có :</span>
            <div id="dd" class="wrapper-dropdown-2" style="color:red">
            @Model.Count sản phẩm
               
            </div>
        </div>
    </div>
 </div>