@model Model.EF.Contact
@{
    ViewBag.Title = "Liên Hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section jsFooter{
    <script src="~/assets/client/js/controller/contactController.js"></script>
    
}

<div class="row shop_inner_inf">
    <div class="side-bar col-md-6">
        <h2>Thông tin liên hệ</h2>
        <br />
        @Html.Raw(Model.Content)

        <br />
        <h4>Gửi thông tin</h4>
        <br />
        <form>
            <div class="form-group">
                <label>Họ tên</label>
                <input type="text" id="txtName" class="form-control" />
            </div>
            <div class="form-group">
                <label>Điện thoại</label>
                <input type="text" id="txtMobile" class="form-control" />
            </div>
            <div class="form-group">
                <label>Địa chỉ</label>
                <input type="text" id="txtAddress" class="form-control" />
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" id="txtEmail" class="form-control" />
            </div>
            <div class="form-group">
                <label>Yêu cầu</label>
                <textarea id="txtContent" class="form-control">

                </textarea>
            </div>
            <button id="btnSend" class="btn btn-success">Gửi đi</button>
        </form>
    </div>
    <div class="side-bar col-md-6">

        <h2>Bản đồ</h2>
        <br />
        <br />
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.8440581833934!2d106.87635741524176!3d10.975140758494367!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174ddb98db491b3%3A0x551eae22c391a65f!2zxJAuIFRow6JuIE5ow6JuIFRydW5nLCBLaHUgUGjhu5EgOSwgSOG7kSBOYWksIFRwLiBCacOqbiBIw7JhLCDEkOG7k25nIE5haSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1629167267924!5m2!1svi!2s" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>



    </div>

</div>
